<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>API-360 Newsletter</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link href='http://fonts.googleapis.com/css?family=Roboto'
	rel='stylesheet' type='text/css' />

<!-- use the font -->
<style>
body {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
}
</style>
</head>
<body>
	<p th:text="${'Dear ' + name}"></p>
	<p>Greetings!!!</p>
	<p>
		You have been successfully activated your <b>API 360</b> account
		on <span
			th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span>
	</p>
	<p>
		<a href="https://google.com"> <img
			src="https://anydifferencebetween.com/wp-content/uploads/2016/08/Difference-Between-Word-Processing-and-Application-Software.jpg"
			alt="https://google.com" height="210" width="500" />
		</a>
	</p>
	<p>
		Regards, <br /><b> <em th:text="${sign}"></em></b>
		<p th:text="${location}"></p>
	</p>
</body>
</html>